:root {
    --galeryoffset: 20%;
}

* {
    margin: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #888;
  
}

.galery {
    width: 95%;
    height: 95%;
    overflow: hidden;


}

.photos:hover {
    animation-play-state: paused;
   
    
}

.photos > div:hover{
    transform: scale(1.2); 
    transition: 0.6s ;
    z-index: 0.9;
    border-radius: 10px;
}

.photos {
    display: grid;
    height: 100%;
    width: calc(100% + var(--galeryoffset));
    background-size: contain;
    margin-left: -10%;
    animation: slides 3s infinite alternate linear;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow: hidden;
    gap: 3px;
    
    

}

@keyframes slides {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: calc(-1 * var(--galeryoffset));
    }

}

.div1 {
    background-image: url(img/rubeo.png);
    grid-area: 1 / 1 / 2 / 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(img/leao.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url(img/images1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div4 {
    grid-area: 1 / 4 / 3 / 5;
    background-image: url(img/WEDNESDAY-JENNA-ORTEGA_GALLERY-SINGLE_0287R2C.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div5 {
    grid-area: 1 / 5 / 2 / 6;
    background-image: url(img/ricksombrio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div6 {
    grid-area: 1 / 6 / 2 / 8;
    background-image: url(img/luffy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div7 {
    grid-area: 1 / 8 / 3 / 9;
    background-image: url(img/abel.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.div8 {
    grid-area: 2 / 7 / 3 / 8;
    background-image: url(img/rick.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div9 {
    grid-area: 2 / 5 / 4 / 7;
    background-image: url(img/max.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div10 {
    grid-area: 3 / 4 / 4 / 5;
    background-image: url(img/luffyjpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div11 {
    grid-area: 4 / 5 / 6 / 6;
    background-image: url(img/hermione.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div12 {
    grid-area: 4 / 6 / 5 / 7;
    background-image: url(img/vold.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div13 {
    grid-area: 5 / 6 / 6 / 7;
    background-image: url(img/snape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div14 {
    grid-area: 3 / 7 / 6 / 9;
    background-image: url(img/tumblr_m9mk5oAoNW1qf8rjmo1_1280.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div15 {
    grid-area: 2 / 1 / 3 / 3;
    background-image: url(img/fenix.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div16 {
    grid-area: 2 / 3 / 4 / 4;
    background-image: url(img/dumbledoro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div17 {
    grid-area: 3 / 1 / 5 / 3;
    background-image: url(img/st2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div18 {
    grid-area: 5 / 1 / 6 / 2;
    background-image: url(img/grindwald.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div19 {
    grid-area: 5 / 2 / 6 / 3;
    background-image: url(img/tumblr_m9mk5oAoNW1qf8rjmo2_1280.webp);
    background-position: center;
    background-size: cover;
}

.div20 {
    grid-area: 4 / 3 / 6 / 5;
    background-image: url(img/08b80d75ab865402bb8e9a4d0f0b8f00.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




